// modal 

.modal-dialog{
    max-width: 100%;
    .modal-content{
        @media (max-width:576px){
            max-width: 220px;
        }
        @media (max-width:768px){
            max-width: 550px;
        }
        height: 500px;
        max-width: 812px;
        margin: 90px auto;
        border-radius: 0;
        background-image:url(/shopo/src/images/modalimg.png);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        .modal-body{
            .col-xl-12{
                display: flex;
                justify-content: flex-end;
                svg{
                    cursor: pointer;
                }
            }
            .modal_content{
                p{
                    font-size: 20px;
                    margin-top: 10px;
                    font-weight: 500;
                    margin-bottom: 0;
                }
                .discount{
                    padding: 0;
                    margin: 0;
                    font-weight: 600;
                    font-size: 26px;
                    span{
                        color: rgb(223, 57, 57);
                    }
                }
                 .span_txt{
                    display:block;
                    max-width: 380px;
                 }
                form{
                    margin-top: 100px;
                    input{
                        border: none;
                        padding: 10px;
                    }
                    button{
                        padding: 10px;
                        background-color: $navbgcolor;
                        border: none;
                        transform: translateX(-6px);
                        @media (max-width:384px){
                            transform: translateX(0px);
                        }
                    }
                }
            }
        }
    }
 }
//header
header{
    #header_top{
       .container{
        display: flex;
        justify-content:space-between;
        .topbarnav{
            display: inline-block;
            ul{
                margin-top: 10px;
                display: flex;
                padding: 0;
                li{
                   margin-right: 10px;
                    a{
                        text-decoration: none;
                        color: black;
                        font-size: 14px;
                    }
                }
            }
        }
        .topdropdowns{
            @media(max-width:576px){
                display: none;
            }
            display: inline-block;
            ul{
                margin-top: 10px;
                display: flex;
                li{
                   margin-right: 10px;
                   font-size: 14px;
                   cursor: pointer;
                   margin-left: 10px;
                   position: relative;
                   i{
                    font-size: 10px;
                    font-weight: 500;
                   }
                   .ff{
                    width: 130px;
                   }
                  
                   ul{
                    display: none;
                    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                    padding: 0;
                    position: absolute;
                    top: 10px;
                    right: 0px;
                    flex-direction: column;
                    li{
                        margin-top:7px;
                    }
                   }
                }
            }
        }
       }
    }
    
    #header_mid{
        .col-2{
            img{
                @media(max-width:1024px){
                    display: none;
                }
            }
            i{
                display: none;
                @media(max-width:1024px){
                    display: block;
                    font-size: 22px;
                    cursor: pointer;
                }
            }
        }
        .col-7{
            img{
                 display: none;
                 @media(max-width:1024px){
                    display: block;
                }
            }
            .midheadform{
                @media(max-width:1024px){
                    display: none;
                }   
                display: flex;
                width: 67%;
                border: 1px solid rgba(214, 216, 214, 0.679);
                 input{
                    border: none;
                    padding: 10px;
                 }
                 span{
                    display: inline-block;
                    width: 1px;
                    height: 20px;
                    margin-top: 13px;
                    background-color: rgb(143, 141, 141);
                 }
                 button{
                    background-color: $navbgcolor;
                    color: black;
                    border: none;
                    padding: 5px 12px;
                 }
            }
        }
        .col-3{
            display: flex;
            justify-content: flex-end;
            ul{
                display: flex;
                li{ 
                    @media(max-width:1024px){
                        display: none;
                        &:nth-child(3){
                         display: block;  
                          
                        }
                    }  
                    margin-left: 20px;
                    line-height: 44px;
                    position: relative;
                    i{
                        font-size: 24px;
                        cursor: pointer;
                    }
                    .icon_num{
                        font-size: 11px;
                        background: $navbgcolor;
                        width: 17px;
                        height: 16px;
                        padding: 3px;
                        border: 50%;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        right: -6px;
                        top: 4px;
                    }
                    &:nth-child(3){
                        @media(max-width:768px){
                            margin-right: 10px;
                            line-height: 33px;
                        }
                        &:hover{
                            .addtocard{
                             display: block;
                             @media(max-width:1024px){
                                display: none;
                             }
                            }
                        }
                        position: relative;
                       .addtocard{
                        z-index: 1;
                        background-color: #fff;
                        display: none;
                        height: 522px;
                        padding: 0;
                        position: absolute;
                        top: 36px;
                        right: -44px;
                        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
                        ul{
                            width: 270px;
                            height: 400px;
                            overflow-y: scroll;
                            flex-direction: column;
                            padding: 0;
                            gap: 15px;
                            li{
                                display: flex;
                                margin: 0;
                                img{
                                    width: 70px;
                                    height: 70px;
                                    object-fit: cover;
                                }
                                span{
                                    font-size: 13px;
                                    line-height: 13px;
                                    margin-top: 11px;
                                }
                                i{
                                    &:hover{
                                        color: red;
                                    }
                                }
                            }
                        }
                        .addtocard_bottom{
                            padding-top: 20px;
                            button{
                                width: 100%;
                                margin-bottom: 7px;
                                border: none;
                            }
                            .checkcart{
                                background-color: $navbgcolor;
                            }
                        }
                       }
                    }
                }
            }
        }
    }
    #header_bottom{
        @media(max-width:1200px){
            display: none;
        }
        background-color: $navbgcolor;
       .container{
        .col-2{
          ul{
            margin-top: 6px;
            padding: 0px;
            margin-bottom: 2px;
            li{
                position: relative;
                background-color:#fff;
                padding: 10px;
                border-top-right-radius: 6px;
                border-top-left-radius: 6px;
                display: flex;
                justify-content: space-between;
                cursor: pointer;
                i{
                    font-size: 12px;
                }
                ul{
                    // z-index: 9999;
                    background-color: #fff;
                    padding: 0;
                    height: 0px;
                    display: none;
                    width: 100%;
                    position: absolute;
                    left: 0;
                    top: 30px;
                    flex-direction: column;
                }
            }
          }
        }
        .col-6{
            nav{
                height: 100%;
                ul{
                    display: flex;
                    gap: 15px;
                    height: 100%;
                    line-height: 40px;
                    padding-top: 7px;
                    li{
                        position: relative;
                        a{
                            font-weight: 600;
                            color: black;
                            text-decoration: none;
                        }
                        i{
                            font-size: 12px;
                            font-weight: 600;
                        }
                        &:hover{
                            .container{
                                display: block;
                        }
                        }
                        .container{
                            display: none;
                            z-index: 1;
                            background: #fff;
                            position: absolute;
                            box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
                            top: 56px;
                            left: -362px;
                              width: 1298px;
                              padding: 20px ;
                            .col-3{
                                .shop_cntnt{
                                    padding: 0;
                                    margin: 0;
                                    flex-direction: column;
                                    li{
                                        padding: 0;
                                        margin: 0;
                                        line-height: 20px;
                                        &:nth-child(1){
                                            font-weight: 600;
                                        }
                                        a{
                                        font-size: 14px;
                                         &:hover{
                                            color: $navbgcolor;
                                            border-bottom: 1px solid $navbgcolor;
                                         }
                                        }
                                    }
                                }
                                img{
                                    object-fit: cover;
                                    width: 100%;
                                    height: 100%;
                                }
                            } 
                        }
                    }
                }
            }
        }
        .col-4{
            display: flex;
            justify-content: flex-end;
            button{
                border: none;
                background-color: black;
                color: #fff;
                margin: 12px 0px;
                padding: 0px 10px;
            }
        }
       }
    }
}
// addtocard scroll 
.addtocardlist::-webkit-scrollbar{
    width: 3px;
    }
 .addtocardlist::-webkit-scrollbar-thumb {
        background-color: rgb(193, 191, 191);
        border-radius: 5px;
   }
//nav category content
.actv_cate_cntnt{
    display:block !important;
}
//section first
#first{
    background-color: rgba(232, 230, 230, 0.475);
    padding-top: 40px;
    padding-bottom: 40px;
    .container{
        .row{
            .col-xl-8{
                img{
                    width: 100%;
                    height: 100%;
                }
            }
            .col-xl-4{
                .row{
                    .col-xl-12{
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
    .firstsection_icons{
        padding-top: 40px;
        .container{
            background-color: #fff;
            padding: 10px 0px;
            .row{
                .col-xl-3{
                    .icon_body{
                        display: flex;
                        padding: 10px 20px;
                        i{
                           display: inline-block;
                           font-size: 22px;
                           color: $navbgcolor;
                           font-weight: 600;
                           margin-top: 6px;
                        }
                        .body_text{
                            padding: 5px ;
                            display: inline-block;
                          p{
                            font-weight: 600;
                            margin-bottom: 3px;
                          }
                          span{
                            color: #a8a4a4;
                          }
                        }
                    }
                }
            }
        }
    }
}
//game 
#game{
    background-color: rgba(232, 230, 230, 0.475);
    margin-bottom: 200px;
    padding: 30px 0px;
    .container{
        .row{
            .col-xl-3{
                .game_item{
                    overflow: hidden;
                    position: relative;
                    height: 100%;
                    background-color: #fff;
                    width: 280px;
                    @media(max-width:768px){
                        width: 100%;
                    }
                    .game_img{
                        min-height: 280px;
                        img{
                            width: 100%;
                            height: 100%;
                            object-fit: cover;
                        }
                    }
                    .game_ftr{
                      padding: 10px;
                      i{
                        color: $navbgcolor;
                      }
                      p{
                        font-weight: 600;
                        font-size: 14px;
                      }
                       span.ovrlineprise{
                            text-decoration:line-through;
                        }
                        span.redprice{
                            color: red;
                        }
                      
                    }
                    ul{
                        position: absolute;
                        left: 20px;
                        top: 60px;
                        li{
                            color: #000000;
                            font-weight: 600;
                            i{
                                font-size: 13px;
                            }
                        }
                    }
                    button{
                        padding: 5px 20px;
                        border: none;
                        background-color: $navbgcolor;
                        color: black;
                        transform: translateY(44px);
                        margin: 0 auto;
                        display: block;
                        transition: all .3s ease-in-out;
                    }
                    &:hover{
                        button{
                            transform: translateY(-6px);
                        }
                        .game_icons{
                              right: 10px;
                        }
                    } 
                    .game_icons{
                        position: absolute;
                        right: -32px;
                        top: 10px;
                        display: flex;
                        flex-direction: column;
                        transition: all .3s ease-in-out;
                        i{
                            margin-bottom: 8px;
                            font-size: 21px;
                            cursor: pointer;
                            background-color: rgb(225, 223, 223);
                            padding: 5px;
                        }
                    } 
                }
            }
        }
    }
}