@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  list-style-type: none;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  overflow-x: hidden;
  background-color: rgba(232, 230, 230, 0.475);
}

h4 {
  font-weight: 600;
}

.modal-dialog {
  max-width: 100%;
}
.modal-dialog .modal-content {
  height: 500px;
  max-width: 812px;
  margin: 90px auto;
  border-radius: 0;
  background-image: url(/shopo/src/images/modalimg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
@media (max-width: 576px) {
  .modal-dialog .modal-content {
    max-width: 220px;
  }
}
@media (max-width: 768px) {
  .modal-dialog .modal-content {
    max-width: 550px;
  }
}
.modal-dialog .modal-content .modal-body .col-xl-12 {
  display: flex;
  justify-content: flex-end;
}
.modal-dialog .modal-content .modal-body .col-xl-12 svg {
  cursor: pointer;
}
.modal-dialog .modal-content .modal-body .modal_content p {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 500;
  margin-bottom: 0;
}
.modal-dialog .modal-content .modal-body .modal_content .discount {
  padding: 0;
  margin: 0;
  font-weight: 600;
  font-size: 26px;
}
.modal-dialog .modal-content .modal-body .modal_content .discount span {
  color: rgb(223, 57, 57);
}
.modal-dialog .modal-content .modal-body .modal_content .span_txt {
  display: block;
  max-width: 380px;
}
.modal-dialog .modal-content .modal-body .modal_content form {
  margin-top: 100px;
}
.modal-dialog .modal-content .modal-body .modal_content form input {
  border: none;
  padding: 10px;
}
.modal-dialog .modal-content .modal-body .modal_content form button {
  padding: 10px;
  background-color: rgb(255, 187, 56);
  border: none;
  transform: translateX(-6px);
}
@media (max-width: 384px) {
  .modal-dialog .modal-content .modal-body .modal_content form button {
    transform: translateX(0px);
  }
}

.to-top {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(255, 187, 56);
  background-color: rgb(255, 187, 56);
  color: rgba(66, 64, 64, 0.793);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 20px;
  right: 20px;
  border-radius: 50%;
  display: none;
  animation-duration: 0.2s;
}
.to-top svg {
  width: 20px;
  height: 20px;
}

header {
  background-color: #fff;
}
header #header_top .container {
  display: flex;
  justify-content: space-between;
}
header #header_top .container .topbarnav {
  display: inline-block;
}
header #header_top .container .topbarnav ul {
  margin-top: 10px;
  display: flex;
  padding: 0;
}
header #header_top .container .topbarnav ul li {
  margin-right: 10px;
}
header #header_top .container .topbarnav ul li a {
  text-decoration: none;
  color: black;
  font-size: 14px;
}
header #header_top .container .topdropdowns {
  display: inline-block;
}
@media (max-width: 576px) {
  header #header_top .container .topdropdowns {
    display: none;
  }
}
header #header_top .container .topdropdowns ul {
  margin-top: 10px;
  display: flex;
}
header #header_top .container .topdropdowns ul li {
  margin-right: 10px;
  font-size: 14px;
  cursor: pointer;
  margin-left: 10px;
  position: relative;
}
header #header_top .container .topdropdowns ul li i {
  font-size: 10px;
  font-weight: 500;
}
header #header_top .container .topdropdowns ul li .ff {
  z-index: 1;
  background-color: #fff;
  width: 130px;
}
header #header_top .container .topdropdowns ul li ul {
  display: none;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 0;
  position: absolute;
  top: 10px;
  right: 0px;
  flex-direction: column;
}
header #header_top .container .topdropdowns ul li ul li {
  margin-top: 7px;
}
@media (max-width: 1024px) {
  header #header_mid .col-2 img {
    display: none;
  }
}
header #header_mid .col-2 i {
  display: none;
}
@media (max-width: 1024px) {
  header #header_mid .col-2 i {
    display: block;
    font-size: 22px;
    cursor: pointer;
  }
}
header #header_mid .col-7 img {
  display: none;
}
@media (max-width: 1024px) {
  header #header_mid .col-7 img {
    display: block;
  }
}
header #header_mid .col-7 .midheadform {
  display: flex;
  width: 67%;
  border: 1px solid rgba(214, 216, 214, 0.679);
}
@media (max-width: 1024px) {
  header #header_mid .col-7 .midheadform {
    display: none;
  }
}
header #header_mid .col-7 .midheadform input {
  border: none;
  padding: 10px;
}
header #header_mid .col-7 .midheadform span {
  display: inline-block;
  width: 1px;
  height: 20px;
  margin-top: 13px;
  background-color: rgb(143, 141, 141);
}
header #header_mid .col-7 .midheadform button {
  background-color: rgb(255, 187, 56);
  color: black;
  border: none;
  padding: 5px 12px;
}
header #header_mid .col-3 {
  display: flex;
  justify-content: flex-end;
}
header #header_mid .col-3 ul {
  display: flex;
}
header #header_mid .col-3 ul li {
  margin-left: 20px;
  line-height: 44px;
  position: relative;
}
@media (max-width: 1024px) {
  header #header_mid .col-3 ul li {
    display: none;
  }
  header #header_mid .col-3 ul li:nth-child(3) {
    display: block;
  }
}
header #header_mid .col-3 ul li i {
  font-size: 24px;
  cursor: pointer;
}
header #header_mid .col-3 ul li .icon_num {
  font-size: 11px;
  background: rgb(255, 187, 56);
  width: 17px;
  height: 16px;
  padding: 3px;
  border: 50%;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: -6px;
  top: 4px;
}
header #header_mid .col-3 ul li:nth-child(3) {
  position: relative;
}
@media (max-width: 768px) {
  header #header_mid .col-3 ul li:nth-child(3) {
    margin-right: 10px;
    line-height: 33px;
  }
}
header #header_mid .col-3 ul li:nth-child(3):hover .addtocard {
  display: block;
}
@media (max-width: 1024px) {
  header #header_mid .col-3 ul li:nth-child(3):hover .addtocard {
    display: none;
  }
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard {
  z-index: 1;
  background-color: #fff;
  display: none;
  height: 522px;
  padding: 0;
  position: absolute;
  top: 36px;
  right: -44px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard ul {
  width: 270px;
  height: 400px;
  overflow-y: scroll;
  flex-direction: column;
  padding: 0;
  gap: 15px;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard ul li {
  display: flex;
  margin: 0;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard ul li img {
  width: 70px;
  height: 70px;
  -o-object-fit: cover;
     object-fit: cover;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard ul li span {
  font-size: 13px;
  line-height: 13px;
  margin-top: 11px;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard ul li i:hover {
  color: red;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard .addtocard_bottom {
  padding-top: 20px;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard .addtocard_bottom button {
  width: 100%;
  margin-bottom: 7px;
  border: none;
}
header #header_mid .col-3 ul li:nth-child(3) .addtocard .addtocard_bottom .checkcart {
  background-color: rgb(255, 187, 56);
}
header #header_bottom {
  background-color: rgb(255, 187, 56);
}
@media (max-width: 1200px) {
  header #header_bottom {
    display: none;
  }
}
header #header_bottom .container .col-2 ul {
  margin-top: 6px;
  padding: 0px;
  margin-bottom: 2px;
}
header #header_bottom .container .col-2 ul li {
  position: relative;
  background-color: #fff;
  padding: 10px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
header #header_bottom .container .col-2 ul li i {
  font-size: 12px;
}
header #header_bottom .container .col-2 ul li ul {
  background-color: #fff;
  padding: 0;
  height: 0px;
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 30px;
  flex-direction: column;
}
header #header_bottom .container .col-6 nav {
  height: 100%;
}
header #header_bottom .container .col-6 nav ul {
  display: flex;
  gap: 15px;
  height: 100%;
  line-height: 40px;
  padding-top: 7px;
}
header #header_bottom .container .col-6 nav ul li {
  position: relative;
}
header #header_bottom .container .col-6 nav ul li a {
  font-weight: 600;
  color: black;
  text-decoration: none;
}
header #header_bottom .container .col-6 nav ul li i {
  font-size: 12px;
  font-weight: 600;
}
header #header_bottom .container .col-6 nav ul li:hover .container {
  display: block;
}
header #header_bottom .container .col-6 nav ul li .container {
  display: none;
  z-index: 1;
  background: #fff;
  position: absolute;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  top: 56px;
  left: -362px;
  width: 1298px;
  padding: 20px;
}
header #header_bottom .container .col-6 nav ul li .container .col-3 .shop_cntnt {
  padding: 0;
  margin: 0;
  flex-direction: column;
}
header #header_bottom .container .col-6 nav ul li .container .col-3 .shop_cntnt li {
  padding: 0;
  margin: 0;
  line-height: 20px;
}
header #header_bottom .container .col-6 nav ul li .container .col-3 .shop_cntnt li:nth-child(1) {
  font-weight: 600;
}
header #header_bottom .container .col-6 nav ul li .container .col-3 .shop_cntnt li a {
  font-size: 14px;
  font-weight: 100;
  color: #858383;
}
header #header_bottom .container .col-6 nav ul li .container .col-3 .shop_cntnt li a:hover {
  color: rgb(255, 187, 56);
  border-bottom: 1px solid rgb(255, 187, 56);
}
header #header_bottom .container .col-6 nav ul li .container .col-3 img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}
header #header_bottom .container .col-4 {
  display: flex;
  justify-content: flex-end;
}
header #header_bottom .container .col-4 button {
  border: none;
  background-color: black;
  color: #fff;
  margin: 12px 0px;
  padding: 0px 10px;
}

.sal {
  display: block;
}

.addtocardlist::-webkit-scrollbar {
  width: 3px;
}

.addtocardlist::-webkit-scrollbar-thumb {
  background-color: rgb(193, 191, 191);
  border-radius: 5px;
}

.actv_cate_cntnt {
  display: block !important;
}

#first {
  padding-top: 40px;
  margin-bottom: 50px;
}
#first .container .row .col-xl-8 img {
  width: 100%;
  height: 100%;
}
#first .container .row .col-xl-4 .row {
  height: 100%;
}
#first .container .row .col-xl-4 .row .col-xl-12 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#first .firstsection_icons {
  padding-top: 40px;
}
#first .firstsection_icons .container {
  background-color: #fff;
  padding: 10px 0px;
}
#first .firstsection_icons .container .row .col-xl-3 .icon_body {
  display: flex;
  padding: 10px 20px;
}
#first .firstsection_icons .container .row .col-xl-3 .icon_body i {
  display: inline-block;
  font-size: 22px;
  color: rgb(255, 187, 56);
  font-weight: 600;
  margin-top: 6px;
}
#first .firstsection_icons .container .row .col-xl-3 .icon_body .body_text {
  padding: 5px;
  display: inline-block;
}
#first .firstsection_icons .container .row .col-xl-3 .icon_body .body_text p {
  font-weight: 600;
  margin-bottom: 3px;
}
#first .firstsection_icons .container .row .col-xl-3 .icon_body .body_text span {
  color: #a8a4a4;
}

#game {
  margin-bottom: 50px;
}
#game .container .row .col-xl-3 .game_item {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-color: #fff;
  width: 280px;
}
@media (max-width: 768px) {
  #game .container .row .col-xl-3 .game_item {
    width: 100%;
  }
}
#game .container .row .col-xl-3 .game_item .game_img {
  min-height: 280px;
}
#game .container .row .col-xl-3 .game_item .game_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
#game .container .row .col-xl-3 .game_item .game_ftr {
  padding: 10px;
}
#game .container .row .col-xl-3 .game_item .game_ftr i {
  color: rgb(255, 187, 56);
}
#game .container .row .col-xl-3 .game_item .game_ftr p {
  font-weight: 600;
  font-size: 14px;
}
#game .container .row .col-xl-3 .game_item .game_ftr span.ovrlineprise {
  text-decoration: line-through;
}
#game .container .row .col-xl-3 .game_item .game_ftr span.redprice {
  color: red;
}
#game .container .row .col-xl-3 .game_item ul {
  position: absolute;
  left: 20px;
  top: 60px;
}
#game .container .row .col-xl-3 .game_item ul li {
  color: #000000;
  font-weight: 600;
}
#game .container .row .col-xl-3 .game_item ul li i {
  font-size: 13px;
}
#game .container .row .col-xl-3 .game_item button {
  padding: 5px 20px;
  border: none;
  background-color: rgb(255, 187, 56);
  color: black;
  transform: translateY(44px);
  margin: 0 auto;
  display: block;
  transition: all 0.3s ease-in-out;
}
#game .container .row .col-xl-3 .game_item:hover button {
  transform: translateY(-6px);
}
#game .container .row .col-xl-3 .game_item:hover .game_icons {
  right: 10px;
}
#game .container .row .col-xl-3 .game_item .game_icons {
  position: absolute;
  right: -32px;
  top: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
#game .container .row .col-xl-3 .game_item .game_icons i {
  margin-bottom: 8px;
  font-size: 21px;
  cursor: pointer;
  background-color: rgb(225, 223, 223);
  padding: 5px;
}
#game .brands {
  margin-top: 50px;
}
#game .brands .container .row .col-xl-2 {
  background-color: #fff;
  border: 1px solid #e0dada;
  display: flex;
  justify-content: center;
  padding: 48px;
}

#second {
  margin-bottom: 50px;
}
#second .container {
  padding: 0;
}
#second .container .row .col-xl-6 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
#second .container .row .col-xl-6 img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#second .container .row .col-xl-6 span {
  position: absolute;
  left: 30px;
  bottom: 150px;
  font-size: 24px;
  font-weight: 600;
}
#second .container .row .col-xl-6 p {
  position: absolute;
  left: 30px;
  bottom: 100px;
}
#second .container .row .col-xl-6 p i {
  font-size: 13px;
  font-weight: 600;
}
#second .container .row .col-xl-6 .second_tel_img {
  position: absolute;
  bottom: 30px;
}
#second .container .row .col-xl-6 .second_tel_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#second .container .row .col-xl-6 .second_pay_img {
  position: absolute;
  bottom: 200px;
  left: 80px;
  max-width: 280px;
  height: 50px;
  display: flex;
}
#second .container .row .col-xl-6 .second_pay_img img {
  margin-left: 10px;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

#topselling {
  margin-bottom: 50px;
}
#topselling .container {
  padding: 0;
}
#topselling .container h4 {
  display: flex;
  justify-content: space-between;
}
#topselling .container .row .col-xl-6 .div {
  background-color: #fff;
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .rr {
  height: 250px;
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .rr img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .topselling_text {
  padding: 10px;
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .topselling_text i {
  color: rgb(255, 187, 56);
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .topselling_text p {
  font-weight: 600;
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .topselling_text span.red {
  color: red;
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .topselling_text span.overline {
  text-decoration: line-through;
  color: gray;
}
#topselling .container .row .col-xl-6 .div .row .col-xl-6 .topselling_text button {
  padding: 5px 10px;
  background-color: rgb(255, 187, 56);
  border: none;
  display: block;
  margin-top: 10px;
}

#arrivals {
  margin-bottom: 50px;
}
#arrivals .container {
  padding: 0;
}
#arrivals .container h4 {
  display: flex;
  justify-content: space-between;
}
#arrivals .container .row .col-xl-3 .game_item {
  overflow: hidden;
  position: relative;
  height: 100%;
  background-color: #fff;
  width: 280px;
}
@media (max-width: 768px) {
  #arrivals .container .row .col-xl-3 .game_item {
    width: 100%;
  }
}
#arrivals .container .row .col-xl-3 .game_item .game_img {
  min-height: 280px;
}
#arrivals .container .row .col-xl-3 .game_item .game_img img {
  width: 100%;
  height: 100%;
  -o-object-fit: none;
     object-fit: none;
}
#arrivals .container .row .col-xl-3 .game_item .game_ftr {
  padding: 10px;
}
#arrivals .container .row .col-xl-3 .game_item .game_ftr i {
  color: rgb(255, 187, 56);
}
#arrivals .container .row .col-xl-3 .game_item .game_ftr p {
  font-weight: 600;
  font-size: 14px;
}
#arrivals .container .row .col-xl-3 .game_item .game_ftr span.ovrlineprise {
  text-decoration: line-through;
}
#arrivals .container .row .col-xl-3 .game_item .game_ftr span.redprice {
  color: red;
}
#arrivals .container .row .col-xl-3 .game_item ul {
  position: absolute;
  left: 20px;
  top: 60px;
}
#arrivals .container .row .col-xl-3 .game_item ul li {
  color: #000000;
  font-weight: 600;
}
#arrivals .container .row .col-xl-3 .game_item ul li i {
  font-size: 13px;
}
#arrivals .container .row .col-xl-3 .game_item button {
  padding: 5px 20px;
  border: none;
  background-color: rgb(255, 187, 56);
  color: black;
  transform: translateY(44px);
  margin: 0 auto;
  display: block;
  transition: all 0.3s ease-in-out;
}
#arrivals .container .row .col-xl-3 .game_item:hover button {
  transform: translateY(-6px);
}
#arrivals .container .row .col-xl-3 .game_item:hover .game_icons {
  right: 10px;
}
#arrivals .container .row .col-xl-3 .game_item .game_icons {
  position: absolute;
  right: -32px;
  top: 10px;
  display: flex;
  flex-direction: column;
  transition: all 0.3s ease-in-out;
}
#arrivals .container .row .col-xl-3 .game_item .game_icons i {
  margin-bottom: 8px;
  font-size: 21px;
  cursor: pointer;
  background-color: rgb(225, 223, 223);
  padding: 5px;
}

#third {
  background-image: url(/shopo/src/images/bg_image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 34vh;
  margin-bottom: 50px;
}
#third .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#third .container p {
  font-weight: 600;
  font-size: 22px;
  margin-top: 80px;
}
#third .container p span {
  color: rgb(255, 187, 56);
}
#third .container .third_content input {
  padding: 10px;
  border: none;
}
#third .container .third_content input[type=email] {
  padding: 10px;
  border: none;
  width: 340px;
}
#third .container .third_content input[type=submit] {
  background-color: rgb(255, 187, 56);
  border: none;
  color: #000000;
  transform: translateX(-7px);
}
@media (max-width: 768px) {
  #third .container .third_content input[type=submit] {
    transform: translateX(0);
  }
}

footer {
  padding: 50px 0px;
}
footer .ftr_logo {
  text-align: center;
}
footer .container .row .col-xl-3 p {
  color: rgb(110, 108, 108);
}
footer .container .row .col-xl-3 ul {
  padding: 0;
  flex-direction: column;
  display: flex;
}
footer .container .row .col-xl-3 ul li {
  margin-bottom: 10px;
}
footer .container .row .col-xl-3 ul li a {
  text-decoration: none;
  color: rgb(110, 108, 108);
}
footer .container .row .col-xl-3 ul li a:hover {
  color: rgb(255, 187, 56);
}
footer .copyright .container .copy_container {
  display: flex;
  justify-content: space-between;
}
footer .copyright .container .copy_container .copy_left i {
  font-size: 20px;
  margin-right: 10px;
  color: #858383;
  cursor: pointer;
}
footer .copyright .container .copy_container .copy_left i:hover {
  color: #000000;
}
footer .copyright .container .copy_container .copy_left hr {
  display: block;
}
footer .copyright .container .copy_container .copy_left span {
  word-spacing: 6px;
  font-size: 20px;
  color: #858383;
}/*# sourceMappingURL=style.css.map */